.width200{
    width: 200px;
}
.height200{
    height: 200px;
    box-sizing: border-box;
    border: white solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.width600{
    width: 600px;
}

.width800{
    width: 800px;
}
.height400{
    height: 400px;
    box-sizing: border-box;
    border: white solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.background{
    background: #83838AFF;
}
.main{
    display: grid;
}
.secondary{
    display: flex;
    text-align: center;
}
.sec-footer{
    display: flex;

}