body{
    background:#252525;
    }
.a{
    width: 150px;
    text-align: center;
    border-color: #ff6300;
    color: #ff6300;
    border-width: 3px;
    border-radius: 45px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    padding: 10px;
}
.b{
    width: 150px;
    text-align: center;
    border-color: #00fbef;
    color: #00fbef;
    border-width: 3px;
    border-radius: 45px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    padding: 10px;

}
.c{
    width: 150px;
    text-align: center;
    border-color: #ff3ca8;
    color: #ff3ca8;
    border-width: 3px;
    border-radius: 45px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    padding: 10px;
}
.d{
    width: 150px;
    text-align: center;
    border-color: #ff1830;
    color: #ff1830;
    border-width: 3px;
    border-radius: 45px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    padding: 10px;
}
.center{
    vertical-align: middle;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    }
