.a {
    height: 200px;
    width: 800px;
    background: gray;
    box-sizing: border-box;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.b {
    height: 200px;
    width: 600px;
    background: gray;
    box-sizing: border-box;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c {
    height: 200px;
    width: 200px;
    background: gray;
    box-sizing: border-box;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cde{
    display: flex;
}
.f{
    height: 400px;
    width: 200px;
    background: gray;
    box-sizing: border-box;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bcdef{
    display: flex;
}
