#container {
    background: lavender;
    width: 500px;
    height: 700px;
    order: 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}

#header {
    background: #e6f7b0;
    width: 450px;
    height: 100px;
    order: 1;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: large;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    width: 450px;
    height: 450px;
    order: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    text-align: center;
    font-size: large;
    font-style: italic;
}


#menu {
    background: red;
    height: 450px;
    width: 200px;
    order: 2;

}

.post {
    height: 200px;
    width: 250px;
    background: cornflowerblue;
    order: 2;
}
#posts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 3px;
}

#footer {
    width: 450px;
    height: 100px;
    background: chocolate;
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: large;
    font-style: italic;
}



/*#main > .post {*/
/*    !*align-items: flex-start;*!*/
/*}*/
/*!*    !*flex-direction: row-reverse;*!*!*/
/*!*    !*flex-direction: row;*!*!*/
/*!*    flex-direction: column;*!*/
/*!*    !*column-gap: 10px;*!*!*/
/*!*    !*justify-content: flex-end;*!*!*/
/*!*    !*!*justify-content: space-between;*! = x+x(a)x+x(b)x+x(c)x+x(d)x+x*!*!*/
/*!*    !*justify-content: space-around;*!*!*/
/*!*    !*justify-content: space-evenly;*!*!*/
/*!*    !*align-items: baseline ;*!*!*/
/*!*    !*align-items: flex-end;*!*!*/
/*!*    !*align-items: flex-start;*!*!*/
/*!*    !*align-items: center;*!*!*/
/*!*    align-items: stretch;*!*/
/*!*    !*flex-direction: column;*!*!*/
/*!*}*!*/
