* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.nav_menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 24px;
}

.nav_menu {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    align-self: center;
    margin-left: 165px;
}

.top_bar {
    display: flex;
    margin: 16px 32px 15px 36px;
    justify-content: space-between;
}

.right_side_menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 24px;
}

.right_side_menu {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-left: 152px;
}

#black_button {
    background: #0B2330;
    color: white;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
    border: 1px solid #0B2330;
    border-radius: 4px;
}

.button {
    height: 54px;
    width: 163px;
    cursor: pointer;

}

.top_bar > .right_side_menu {
    justify-content: right;

}

.container {
    display: flex;
    margin: 100px 0;
    justify-content: space-between;
    align-content: space-between;
}

.left_block h2 {
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 5px;
    color: #0B2330;

}

.left_block {
    margin-left: 100px;
    margin-right: 120px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

h2 {
    margin-bottom: 32px;
}

p {
    font-size: 22px;
    line-height: 32px;
    color: #375361;
    margin-bottom: 38px;
}

.img {
    position: absolute;
    margin-left: -90px;
    width: 50%;
}

.right_block {
    align-items: center;
    justify-content: center;
    display: flex;
}

#start_button {
    font-size: 16px;
    line-height: 24px;
    background: #F9C600;
    border: 1px solid #F9C600;
    box-sizing: border-box;
    border-radius: 4px;
}

#talk_button {
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    background: white;
}

.buttons {
    display: flex;
    column-gap: 16px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
}

.h3 {
    width: 650px;
    height: 100px;
    padding: 0;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.icons_row {
    display: flex;
    justify-content: center;
}

.icon_item {
    cursor: pointer;
}
.bike_block{
    width: 100%;
    height: 494px;
    background: #51CEBC;
    display: flex;

}