*{
    margin: 0;
    padding: 0;
}
#age{
    margin-top: 20px;
    margin-left: 50vw;
}

#menu{
    display: none;
    margin-bottom: 30px;
}
/*either*/
/*#menu{*/
/*    visibility: collapse;*/
/*}*/


#btn_3:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.1s;
}
.margin_bt{
    margin-bottom: 30px;
}
