.a {
    width: 800px;
    height: 200px;
    box-sizing: border-box;
    border: 1px white solid;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: 1px white solid;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h {
    height: 400px;
    width: 200px;
    box-sizing: border-box;
    border: 1px white solid;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
}